*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 10px;
    font-family:'Roboto', sans-serif;
    color: #fff;
}

.container{
    height: calc(100vh - 50px);
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
}
/* -----------struttura-------------- */


/* -----------utility-------------- */
.fl{
    float: left;
}

ul li{
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.65);
}

i{
    color:rgba(255, 255, 255, 0.452);
}

.color{
    color:rgba(255, 255, 255, 0.452);

}
/* -----------utility-------------- */


/* -----------header-------------- */

header{
    height: 50px;
    width:calc(100% - 150px);
    background-color: rgba(17, 17, 17, 0.889);
    position: fixed;
    margin-left: 150px;
    display: flex;
    justify-content: right;
}

.upgrade{
    width: 150px;
    height: 100%;
}

.upgrade span{
    line-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.616);
    padding: 10px 20px;
    border-radius: 20px ;
    transition: all 2s;
}

.upgrade span:hover{
    background: black;
    border: 1px solid rgba(0, 114, 44, 0.616);
    padding: 15px 20px;
}
/* -----------header-------------- */


/* -----------sidebar-------------- */
.sidebar{
    height: calc(100vh - 50px);
    width: 150px;
    background-color: black;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.sidebar-nav{
    height: calc(100% - 50px);
    min-height: 125px;
}

.sidebar-nav ul li:hover{
    color: #fff;
}

.sidebar-nav-down{
    height: calc(100% - 125px);
    overflow-y: scroll;
}



.logo{
    height: 50px;
    width: 100%;
    background: url(../img/logo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left center;
}

.sidebar ul li{
    padding: 5px 0;
}

.sidebar  h4{
    padding: 5px 0;
    margin-top: 10px;
    color: #fff;
}

.sidebar  p{
    line-height: 30px;
}

.plus{
    color: black;
    background: rgba(255, 255, 255, 0.65);
    padding: 0 8px;
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.fas{
    font-size: 15px;
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
    text-align: center;
}


.sidebar-down{
    width: calc(100% - 15px);
    height: 50px;
    background-color: black;
}


/* -----------sidebar-------------- */


/* -----------main-------------- */

main{
    margin: 50px 0;
    height: calc(100vh - 100px);
    width: calc(100% - 150px);
    background-color: #010405;
    overflow-y: scroll;
    
}

/* -----------main-------------- */


/* -----------main - content-------------- */
.main-content{
    width: 100%;
    height: 100%;
}

.main-nav{
    width: 100%;
}

.main-nav ul li{
    display: inline-block;
    padding: 0 8px;
    line-height: 50px;
}

.ul-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-content-row{
    width: 100%;
    overflow: hidden;
}

.box-content{
    width: calc(100% / 6) ;
    min-width: 100px;
    padding: 20px 10px;
}

.main-content h2{
    padding: 0 10px;
}



.box-content img{
    width: 100%;
    
}

.description{
    width: 100%;
    background-color: #010405;
}

.box-content .description h3 {
    padding: 5px 0;
}
/* -----------main - content-------------- */



/* -----------footer-------------- */
footer {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #222326;
    position: fixed;
  }


footer .left,
footer .right {
  width: 200px;
  max-width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .middle {
  width: calc(100% - 500px);
  min-width: 250px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .left div{
    flex-grow: 1;
}


footer .left img {
  height: 100%;
}



footer .left i,
footer .right i {
  font-size: 12px;
  padding: 3px 5px;
}

footer .middle-top,
footer .middle-bottom {
  width: 100%;
  height: 50%;
  text-align: center;
}

footer .middle-top i {
  font-size: 13px;
  padding: 7px 10px;
  vertical-align: middle;
}

footer .middle-top .far.fa-play-circle {
  font-size: 18px;
  transition: 0.3s;
}

.fas.fa-undo {
  transform: scaleX(-1);
}

footer .middle-bottom .number {
  padding: 0 10px;
  font-size: 12px;
  display: inline-block;
}

footer .middle-bottom #central-range {
  width: 50%;
}

/* -----------footer-------------- */

/* ------------input------------ */


input {
    background-color: #222326;
    max-width: 400px;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #9e9e9e;
    border-radius: 50px;
    border: 0px solid #000000;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 8px;
    width: 10px;
    border-radius: 50px;
    background: #e8e8e8;
    cursor: pointer;
  }


/* -----------responsive-------------- */
@media screen and (min-width: 576px) and (max-width: 900px) {

    .box-content{
        width: calc(100% / 4);
    }

    .due {
        width: 100%;
    }

}

@media screen  and (max-width: 575px){
    header{
        width: calc(100% - 50px);
        margin-left: 50px;
    }
    .sidebar{
        width: 50px;
        color: black;
    }
    .sidebar-nav ul li span,
    .sidebar-nav-down{
        display: none;
    }
    .arrow-down::before{
        content: '\f0ab';
        font-weight: 900;
        color: rgba(255, 255, 255, 0.65);;
    }

    .logo{
        background-image: url(../img/logo-small.svg);
        background-position: cover;
        margin-top: 2px;
        margin-bottom: 5px;
        height: 15px;
    }

    main{
        width: calc(100% - 50px);
    }

    .box-content{
        width: calc(100% / 2);
    }

    .due{
        width: 100%;
    }

    .center {
        /* width:calc(100% - 200px); */
        width: 200px;
    }

    footer .left,
    footer .right{
        width: 100px;
        margin: 0;
        padding: 0;
    }
    
    .left img{
        margin: 0;
    }
    

    .left .fa-heart{
        position: absolute;
       left: -20px; 
    }

    .left .fa-folder{
        display: none;
    }

    footer .center i{
        margin: 0;
        padding: 0;
    }
}

/* -----------responsive-------------- */